<form>
  <div class="field is-horizontal">
    <div class="field-body">

      <div class="field is-narrow">
        <p class="control">
          <label>
            <input class="input" placeholder="Amount" style="width: 100px" type="number">
          </label>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <label>
            <input class="input" placeholder="Description" type="text">
          </label>
        </p>
      </div>

      <div class="field is-narrow">
        <button class="button is-primary">Add</button>
      </div>

    </div>
  </div>
</form>
