<div class="top-bar">
  <h1>Budget Calculator</h1>
</div>

<section class="total-budget-section">
  <h2 [ngClass]="totalBudget > 0 ? 'green' : 'red'">{{totalBudget}}</h2>
</section>

<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form (formSubmit)="addItem($event)"></app-add-item-form>
  </div>
</section>

<hr style="margin-top: 0">

<app-budget-item-list (update)="updateItem($event)" (xButtonClick)="deleteItem($event)"
                      [budgetItems]="budgetItems"></app-budget-item-list>
